<ul id="slide-out" class="side-nav fixed">
    <li class="logo" style="line-height: 15px">
        <div class="blue white-text" style="margin: 0 32px; padding: 15px; ">
    	<a href="/index.html" id="logo-container" class="brand-logo center-align white-text">
    		<span class="center-align" style="font-family: AlhambraDeep; ">peidev</span> <br> <br>
            <span style="font-variant: super;">
                BUILT BY PEIDEV.TOP <br>
                POS01-KRI-SN-CAKI0001 <br>
                Serving Receipt # <span id="receiptNumber">0</span> <br>   
                <span class="center-align" id="dateNow"></span> 
    	   </span>
        </a>
        </div>
    </li>
    <li>
    	<a class="waves-effect waves-light modal-trigger" href="#sellItem">
    		<span class="indigo-text text-lighten-4 right">F1</span> 
    		SELL ITEM
    	</a>
    </li>
    <li>
    	<a href="/pages/inventory.html" class="waves-effect waves-light">
    		<span class="indigo-text text-lighten-4 right">F2</span> 
    		INVENTORY
    	</a>
    </li>
    <li>
    	<a href="/pages/account.html" class="waves-effect waves-light">
    		<span class="indigo-text text-lighten-4 right">F3</span> 
    		ACCOUNTS
    	</a>
    </li>
    <li>
    	<a href="/index.html" class=" waves-effect waves-light">
    		<span class="indigo-text text-lighten-4 right">F4</span> 
    		SALES
    	</a>
    </li>
  </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
